@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}

.fa-plus:before {
  content: "\f067";
}

.fa-plus-circle:before {
  content: "\f055";
}

.fa-plus-square:before {
  content: "\f0fe";
}

.fa-minus:before {
  content: "\f068";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-minus-square:before {
  content: "\f146";
}

.header {
  padding: 2rem 1.5rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header .hamburguer-btn {
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .hamburguer-btn::after {
  border-radius: 50%;
}

.header .hamburguer-btn span {
  display: none;
  height: 0.3rem;
  width: 1.4rem;
  background-color: #fff;
  position: relative;
}

.header .hamburguer-btn span::before,
.header .hamburguer-btn span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header .hamburguer-btn span::before {
  top: -0.6rem;
}

.header .hamburguer-btn span::after {
  top: 0.6rem;
}

.nav-menu {
  position: fixed;
  background-color: #2b2c2f;
  padding: 0 1.5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}

.nav-menu .nav-menu-inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-menu .nav-menu-inner ul {
  padding: 1.5rem;
}

.nav-menu .nav-menu-inner ul li {
  display: block;
  margin-bottom: 2rem;
  text-align: center;
}

.nav-menu .nav-menu-inner ul li:last-child {
  margin-bottom: 0;
}

.nav-menu .nav-menu-inner ul li a {
  display: inline-block;
  font-size: 2.8rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 0.5rem 4rem;
  border-radius: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-menu .nav-menu-inner ul li a::after {
  border-radius: 3rem;
}

.nav-menu .nav-menu-inner ul li a.active {
  color: #04d361;
}
.menu-icon-1 .menu-icon-2 .menu-icon-3 .menu-icon-4 .nav-menu .nav-menu-inner ul li a i.active{
  color: #04d361;
}

.nav-menu.open {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.fade-out-effect {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2b2c2f;
  z-index: -1;
  visibility: hidden;
}

.fade-out-effect.active {
  visibility: visible;
  z-index: 1000;
  -webkit-animation: fadeOut 0.3s ease-out;
  animation: fadeOut 0.3s ease-out;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.home-section {
  position: relative;
}

.home-section .full-screen {
  padding: 5rem 0;
  min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 40%;
  padding: 5rem 1.5rem;
}

.home-section .home-text h2 {
  font-size: 5.5rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.home-section .home-text .maintext {
  font-size: 2rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #04d361;
  margin: 0;
}

.home-section .home-text .maintext::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  white-space: nowrap;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.home-section .home-text .btn-1 {
  margin-top: 3rem;
}

.home-section .home-img .img-box {
  width: 60rem;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 1.5rem;
}

.home-section .home-img .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1rem solid transparent;
  transition: transform 0.5s ease-in-out;
}

.home-section .home-img .img-box img:hover {
  transform: scaleX(-1);
}

.about-section {
  padding: 4rem 0 0;
  min-height: 100vh;
}

.about-section .about-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: -8rem;
}

.about-section .about-img .social-links {
  margin-top: 2rem;
  text-align: center;
}

.about-section .about-img .social-links a {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 0.4rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-section .about-img .social-links a::after {
  border-radius: 50%;
}

.about-section .about-img .social-links a:hover {
  color: #04d361;
}

.about-section .about-img .social-links a i {
  line-height: 4rem;
}

.about-section .about-img .img-box {
  padding: 1.5rem;
  border-radius: 50%
}

.about-section .about-img .img-box img {
  width: 100%;
  border: 1rem solid transparent;
  border-radius: 50%
}

.about-section .about-info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15px;
}

.about-section .about-info span {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
}

.about-section .about-info p {
  font-size: 1.6rem;
  font-family: "Baloo 2", sans-serif;
  line-height: 2.6rem;
  margin-bottom: 1.5rem;
  color: rgb(255, 255, 255);
}

.about-section .about-info .btn-1 {
  margin: 3rem 2rem 0 0;
}

.about-section .about-tabs {
  padding: 6rem 1.5rem 5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  text-align: center;
}

.about-section .about-tabs .tab-item {
  display: inline-block;
  margin: 0 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #04d361;
  font-weight: 500;
  text-transform: capitalize;
}

.about-section .about-tabs .tab-item:hover:not(.active) {
  opacity: 0.6;
  cursor: pointer;
}

.about-section .about-tabs .tab-item.active {
  color: #ffffff;
  cursor: default;
  border: 3px solid #04d361;
}

.about-section .about-section .tab-content {
  display: none;
}

.about-section .about-section .tab-content.active {
  display: block;
  -webkit-animation: fadeInTop 0.5s ease;
  animation: fadeInTop 0.5s ease;
}

.about-section .container-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4rem;
}

.about-section .container-skill .skills-container .skill-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conhecimento {
  text-align: center;
  width: 20rem;
  margin: 1rem;
  border-radius: 1rem;
  padding: 3rem;
  border: 3px solid transparent;
  color: #ffff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative;
}

.about-section
  .container-skill
  .skills-container
  .skill-content
  .conhecimento
  i {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  
}

.about-section
  .container-skill
  .skills-container
  .skill-content
  .conhecimento
  h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
}

.about-section
  .container-skill
  .skills-container
  .skill-content
  .conhecimento
  p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
}

.about-section
  .container-skill
  .skills-container
  .skill-content
  .conhecimento:hover {
  cursor: pointer;
  color: #04d361;
  border: 3px solid #04d361;
}

.about-section
  .container-skill
  .skills-container
  .skill-content
  .conhecimento:hover::after {
  width: 100%;
}

.about-section .services {
  padding: 0 0 8rem;
}

.about-section .services .timeline {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.about-section .services .timeline::before {
  content: "";
  width: 0.1rem;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #353535;
  position: absolute;
}

.about-section .services .timeline .timeline-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1.5rem;
}

.about-section .services .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 5rem);
  text-align: right;
}

.about-section .services .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 5rem);
}

.about-section .services .timeline .timeline-item:nth-child(odd) .icon {
  right: -7rem;
}

.about-section .services .timeline .timeline-item:nth-child(even) .icon {
  left: -7rem;
}

.about-section
  .services
  .timeline
  .timeline-item:nth-child(odd)
  .timeline-item-inner:before {
  right: -3rem;
}

.about-section
  .services
  .timeline
  .timeline-item:nth-child(even)
  .timeline-item-inner:before {
  left: -3rem;
}

.about-section .services .timeline .timeline-item .timeline-item-inner {
  padding: 3rem;
  border-radius: 0.5rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-section .services .timeline .timeline-item .timeline-item-inner:hover {
  -webkit-box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
  box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-section .services .timeline .timeline-item .timeline-item-inner::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.1rem;
  background-color: #353535;
  top: 3.7rem;
  z-index: -1;
}

.about-section .services .timeline .timeline-item .timeline-item-inner .icon {
  height: 4rem;
  width: 4rem;
  background-color: #2b2c2f;
  text-align: center;
  border: 0.1rem solid #353535;
  border-radius: 50%;
  line-height: 4rem;
  font-size: 3rem;
  color: #04d361;
  position: absolute;
  top: 1.8rem;
}

.about-section .services .timeline .timeline-item .timeline-item-inner i {
  font-size: 5rem;
  color: #04d361;
}

.about-section .services .timeline .timeline-item .timeline-item-inner h1 {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.about-section .services .timeline .timeline-item .timeline-item-inner h2 {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #fff;
}

.about-section .services .timeline .timeline-item .timeline-item-inner h3 {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #fff;
}

.about-section .services .timeline .timeline-item .timeline-item-inner p{
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.experience-date{
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.college-name{
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.portfolio-section {
  padding: 8rem 0 8rem;
  min-height: 100vh;
}

.portfolio-section .section-title {
  margin-bottom: 4rem;
}

.portfolio-section .portfolio-filter {
  padding: 0 1.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio-section .portfolio-filter .filter-item {
  display: inline-block;
  margin: 0 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #04d361;
  text-transform: capitalize;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-section .portfolio-filter .filter-item:hover:not(.active) {
  opacity: 0.6;
}

.portfolio-section .portfolio-filter .filter-item.active {
  color: #ffff;
  border: 1px solid #04d361;
}

.portfolio-section .portfolio-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.portfolio-section .portfolio-item.hide {
  display: none;
}

.portfolio-section .portfolio-item.show {
  display: block;
  -webkit-animation: fadeInTop 0.5s ease;
  animation: fadeInTop 0.5s ease;
}

.portfolio-section .portfolio-item .portfolio-item-inner {
  padding: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.portfolio-section .portfolio-item .portfolio-item-inner .portfolio-item-img {
  position: relative;
}

.portfolio-section
  .portfolio-item
  .portfolio-item-inner
  .portfolio-item-img
  img {
  border-radius: 0.5rem;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-section
  .portfolio-item
  .portfolio-item-inner
  .portfolio-item-img
  .view-project {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #04d361;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: -1;
  opacity: 0;
}

.portfolio-section
  .portfolio-item
  .portfolio-item-inner
  .portfolio-item-details {
  display: none;
}

.portfolio-section .portfolio-item .portfolio-item-inner p {
  font-size: 1.6rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  margin: 1rem 0 0;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.portfolio-section
  .portfolio-item
  .portfolio-item-inner:hover
  .portfolio-item-img
  img {
  -webkit-transform: translateY(-2.5rem);
  transform: translateY(-2.5rem);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-section .portfolio-item .portfolio-item-inner:hover .view-project {
  -webkit-transform: translateY(0rem);
  transform: translateY(0rem);
  opacity: 1;
}

.portfolio-popup {
  background-color: #2b2c2f;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-popup.open {
  visibility: visible;
  opacity: 1;
}

.portfolio-popup .pp-details {
  max-width: 1350px;
  width: calc(65% + 3rem);
  margin: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-popup .pp-details.active {
  opacity: 1;
}

.portfolio-popup .pp-details .pp-details-inner {
  padding: 3rem 0;
}

.portfolio-popup .pp-details .pp-details-inner .pp-project-details h3 {
  font-size: 2rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  margin: 0 0 1.5rem;
}

.portfolio-popup .pp-details .pp-details-inner .pp-title {
  padding: 0 1.5rem;
}

.portfolio-popup .pp-details .pp-details-inner .pp-title h2 {
  font-size: 2.8rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  margin: 0 0 0.5rem;
}

.portfolio-popup .pp-details .pp-details-inner .pp-title p {
  font-size: 1.4rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 0 0 1.5rem;
  border-bottom: 0.1rem solid #353535;
  padding-bottom: 1rem;
}

.portfolio-popup .pp-details .pp-details-inner .pp-title p span {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.portfolio-popup .pp-details .pp-details-inner .description {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
  padding: 0 1.5rem;
}

.portfolio-popup .pp-details .pp-details-inner .description p {
  font-size: 1.6rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 2.6rem;
  margin: 0;
  padding-bottom: 3rem;
}

.portfolio-popup .pp-details .pp-details-inner .description p span {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
}

.portfolio-popup .pp-details .pp-details-inner .info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
  padding: 0 1.5rem;
}

.portfolio-popup .pp-details .pp-details-inner .info ul li {
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
}

.portfolio-popup .pp-details .pp-details-inner .info ul li span {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.portfolio-popup .pp-details .pp-details-inner .info ul li a {
  text-transform: lowercase;
  color: #04d361;
}

.portfolio-popup .pp-details .pp-details-inner .info ul li:last-child {
  margin-bottom: 0;
}

.portfolio-popup .separator {
  height: 0.1rem;
  width: 100%;
  display: block;
  color: #353535;
}

.portfolio-popup .pp-main {
  min-height: 100vh;
  max-width: 1350px;
  width: 65%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio-popup .pp-main .pp-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1005;
  background-color: rgba(43, 44, 47, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.portfolio-popup .pp-main .pp-loader.active {
  visibility: visible;
  opacity: 1;
}

.portfolio-popup .pp-main .pp-loader div {
  height: 4rem;
  width: 4rem;
  border: 0.3rem solid #04d361;
  border-radius: 50%;
  border-right: 0.3rem solid transparent;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.portfolio-popup .pp-main .pp-main-inner {
  padding: 7rem 0 5rem;
  position: relative;
}

.portfolio-popup .pp-main .pp-main-inner .pp-img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

.portfolio-popup .pp-main .pp-main-inner .pp-projects-details-btn {
  position: absolute;
  left: 0;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #04d361;
  cursor: pointer;
  padding: 0 1.5rem;
  top: 1.5rem;
  height: 4rem;
  line-height: 4rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-popup .pp-main .pp-main-inner .pp-projects-details-btn i {
  margin-left: 0.4rem;
}

.portfolio-popup .pp-main .pp-main-inner .pp-projects-details-btn::after {
  border-radius: 3rem;
}

.portfolio-popup .pp-main .pp-main-inner .pp-close {
  position: absolute;
  right: 0;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  top: 1.5rem;
  text-align: center;
  line-height: 3.5rem;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-popup .pp-main .pp-main-inner .pp-close:hover {
  color: #04d361;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-popup .pp-main .pp-main-inner .pp-close::after {
  border-radius: 3rem;
}

.portfolio-popup .pp-main .pp-main-inner .pp-counter {
  position: absolute;
  right: 0;
  height: 4rem;
  line-height: 4rem;
  bottom: 0.5rem;
  font-size: 1.6rem;
  color: #bbb;
}

.portfolio-popup .pp-main .pp-prev,
.portfolio-popup .pp-main .pp-next {
  position: fixed;
  top: 50%;
  height: 4rem;
  width: 4rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1010;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.6;
}

.portfolio-popup .pp-main .pp-prev:hover,
.portfolio-popup .pp-main .pp-next:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-popup .pp-main .pp-prev {
  left: 1.5rem;
}

.portfolio-popup .pp-main .pp-prev i {
  line-height: 4rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.portfolio-popup .pp-main .pp-next {
  right: 1.5rem;
}

.portfolio-popup .pp-main .pp-next i {
  line-height: 4rem;
}

.contact-section {
  padding: 8rem 0 8rem;
  min-height: 100vh;
}
.contact-section .contact-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-section .contact-item .contact-item-inner {
  padding: 3rem 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  width: 100%;
}

.contact-section .contact-item .contact-item-inner i {
  font-size: 4.9rem;
  color: #ffff;
  cursor: pointer;
}
.contact-section .contact-item .contact-item-inner i:hover {
  font-size: 4.9rem;
  color: #04d361;
  cursor: pointer;
}

.contact-section .contact-item .contact-item-inner span {
  display: block;
  font-size: 1.6rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 1.5rem 0 1rem;
  text-transform: capitalize;
}

.contact-section .contact-item .contact-item-inner p {
  font-size: 1.6rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 2.6rem;
  margin: 0;
  word-break: break-word;
}


@media (max-width: 767px) {
  .contact-section .w-50,
  .contact-section .contact-item,
  .contact-section .contact-img,
  .portfolio-popup .pp-details .pp-details-inner .description,
  .portfolio-popup .pp-details .pp-details-inner .info,
  .portfolio-section .portfolio-item,
  .about-section .skills .skill-item,
  .about-section .about-info,
  .about-section .about-img,
  .portfolio-section .project-img,
  .home-section .home-text,
  .home-section .home-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-section .home-text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: -26rem;
  }

  .home-section .home-img{
    min-width: 100%;
  }

  .about-section .about-info .btn-1 {
    margin: 1rem 1rem 0 0;
    font-size: 1.4rem;
  }

  .contact-section .contact-form .submit-btn,
  .home-section .home-text {
    text-align: center;
  }

  .home-section .full-screen {
    padding: 10rem 0;
  }

  .home-section .home-img .img-box {
    margin-bottom: 4rem;
    max-width: 36rem;
  }

  .home-section .effect-3 {
    margin-left: -6rem;
  }

  .home-section .effect-4 {
    left: 15%;
  }

  .home-section .effect-5 {
    right: 4%;
  }

  .about-section .about-img {
    padding-bottom: 3rem;
  }

  .about-section .services .timeline .timeline-item:nth-child(odd) {
    padding-right: 1.5rem;
    text-align: left;
    padding-left: 7.5rem;
  }

  .about-section .services .timeline .timeline-item:nth-child(even) {
    padding-left: 7.5rem;
  }

  .about-section .services .timeline::before {
    left: 3.5rem;
  }

  .about-section .services .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left: -6rem;
  }

  .about-section .services .timeline .timeline-item:nth-child(even) .icon {
    left: -6rem;
  }

  .about-section .services .timeline .timeline-item {
    margin-bottom: 4rem;
  }

  .about-section .services .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }

  .portfolio-section .project-img{
    padding-bottom: 3rem ;
    max-width: 100%;
  }

  .contact-section .contact-img{
    padding-bottom: 3rem ;
    min-width: 100%;
  }

  .menu-options {
    display: none;
  }
  .logo-icon-name {
    padding: 6rem 9rem;
  }

  .header .hamburguer-btn {
    display: block;
    left: 32rem;
  }
  .header .hamburguer-btn span {
    display: block;
    right: -1.2rem;
    top: 1.8rem;
  }
  .list-menu {
    display: none;
  }
  .about-section
    .services
    .timeline
    .timeline-item:nth-child(odd)
    .timeline-item-inner::before {
    left: -3rem;
    right: auto;
  }

  .about-section .container-skill .skills-container .skill-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin-left: 9rem;
  }

  .portfolio-popup .pp-details {
    width: calc(85% + 3rem);
  }

  .portfolio-popup .pp-main {
    width: 85%;
  }
  .home-view{
      display: block;
      text-align: center;
  }
}
@media (max-width: 574px) {
  .home-section .home-img .img-box {
    min-width: 36rem;
  }

  .home-section .home-text h2 {
    font-size: 4rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

*:not(i) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  width: 0.5rem;
  background: #efeef6;
}

html ::-webkit-scrollbar-thumb {
  background: #04d361;
}

body {
  font-size: 1.6rem;
  background-color: #2b2c2f;
  overflow-x: hidden;
}

body.stop-scrolling {
  overflow-y: hidden;
}

body,
button,
input {
  font-size: clamp(14px, 1.6rem, 2vw);
}

:before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.outer-shadow {
  -webkit-box-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
  box-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
}

.inner-shadow {
  -webkit-box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
  box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  -webkit-box-shadow: 0 0 0 #222327, 0 0 0 #363636;
  box-shadow: 0 0 0 #222327, 0 0 0 #363636;
}

.hover-in-shadow::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}

.hover-in-shadow:hover::after {
  -webkit-box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
  box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.snk {
  padding: 3rem 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  width: 100%;
}

.btn-1 {
  padding: 1rem 2.5rem;
  font-size: 16px;
  font-weight: 700;
  font-family: "Baloo 2", sans-serif;
  color: #ffff;
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
}

.btn-1:hover {
  color: #04d361;
}
.btn-2 {
  padding: 1rem 1.5rem;
  font-size: 16px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: #04d361;
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
}

.btn-2:hover{
  color: #ffff;
}

.btn-1:after {
  border-radius: 3rem;
}
.btn-3 {
  padding: 1rem 2.5rem;
  font-size: 16px;
  font-weight: 500;
  color: #ffff;
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
}

.btn-3:hover {
  color: #04d361;
}

.btn-3:after {
  border-radius: 3rem;
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 3rem;
  height: 3rem;
  border: 0.4rem solid #8a49ff;
  right: 10%;
  bottom: 10%;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-animation: topBounce 3s ease-in-out infinite;
  animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
  height: 0.3rem;
  width: 0.3rem;
  background-color: #ff9c07;
  margin: 0 0.3rem 0.8rem;
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid #04d361;
  border-radius: 50%;
  left: 50%;
  top: -12rem;
  -webkit-animation: leftBounce 3s ease-in-out infinite;
  animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
  border-top: 3rem solid transparent;
  border-left: 3rem solid #06d79c;
  left: 30%;
  top: 20%;
  -webkit-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}

.effect-4::before {
  content: "";
  border-top: 3rem solid transparent;
  border-left: 3rem solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -3rem;
  top: -2.5rem;
}

.effect-5 {
  height: 5rem;
  width: 5rem;
  right: 10%;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}

.effect-5 div {
  width: 0.1rem;
  background-color: #4dd0e1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(2.5rem);
    transform: translateY(2.5rem);
  }
}

@keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(2.5rem);
    transform: translateY(2.5rem);
  }
}

@-webkit-keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(2.5rem);
    transform: translateX(2.5rem);
  }
}

@keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(2.5rem);
    transform: translateX(2.5rem);
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2.5rem);
    transform: translateY(-2.5rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2.5rem);
    transform: translateY(-2.5rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.section-title {
  padding: 2rem 1.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 6rem;
}

.section-title h2 {
  display: inline-block;
  font-family: "Baloo 2", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.section-title h2:before {
  content: attr(data-heading);
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #04d361;
}

.section.hide {
  display: none;
}

.btn-link-p {
  color: #ffffff;
  border-bottom: 0.3rem solid #04d361;
  margin: 0 0.5rem 1rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-link-p:hover {
  color: #04d361;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
}
.copy p {
  color: #fff;
  font-size: 1em;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  border-bottom: 0.2em solid #04d361;
}

.copy p:hover {
  animation: pulsar 0.5s infinite;
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.box {
  box-shadow: 10px 10px 5px 0px rgba(119, 117, 117, 0.75);
}

.box:hover {
  box-shadow: 10px 10px 5px 0px #04d361;
}
.tab-item1 {
  color: #fff;
  font-size: 1.2em;
  font-style: normal;
  text-decoration-thickness: 2px;
}
.tab-item1:hover {
  color: #04d361;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative;
}
.tab-item2 {
  color: #fff;
  font-size: 1.2em;
  font-style: normal;
  text-decoration-thickness: 2px;
}
.tab-item2:hover {
  color: #04d361;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #525458;
  width: 300px;
  font-size: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 15px;
}

.cabecalho-modal {
  padding: 4px 0 1px;
  background: #04d361;
  text-align: center;
  border-bottom: 1px solid #6b6b6b;
  border-radius: 8px;
}

.cabecalho-modal h3 {
  margin: 0;
  font-weight: 500;
}

.footer-modal {
  padding: 25px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.footer-modal button {
  height: 40px;
  padding: 0px 15px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.fechar {
  position: relative;
  display: flex;
  top: 0px;
  right: 3px;
  flex-direction: row;
  justify-content: flex-end;
  width: 7%;
  cursor: pointer;
}

.button-play,
.button-pause {
  display: flex;
  float: left;
  font-size: 4rem;
  text-align: center;
  background: none;
  color: #fff;
  margin: 0 1.4rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.button-play::after,
.button-pause::after {
  border-radius: 50%;
}

.button-play:hover,
.button-pause:hover {
  color: #04d361;
}

.button-play,
.button-pause {
  line-height: 4rem;
}

.button-pause {
  display: none; /* Inicialmente, oculta o botão de pausa */
}

.button-play:hover::after,
.button-pause:hover::after {
  display: block;
}

.portfolio-section .project-img {
  width: 40%; 
  margin: 0 auto; 
  display: block; 
  margin-bottom: 5rem;
}
  
  .portfolio-section .project-img .img-project-box {
    padding: 1.5rem;
    border-radius: 50%
  }
  
  .portfolio-section .project-img .img-project-box img {
    width: 100%;
    border: 1rem solid transparent;
    border-radius: 50%
  }

  .contact-section .contact-img {
    width:40%; 
    margin: 0 auto; 
    display: block; 
    margin-bottom: 3rem;
  }
  
  .contact-section .contact-img .img-contact-box{
    padding: 1.5rem;
    border-radius: 50%
  }
  
  .contact-section .contact-img .img-contact-box img {
    width: 100%;
    border: 1rem solid transparent;
    border-radius: 50%
  }

.home-view {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.progress {
  justify-content: flex-start;
  border-radius: 1rem;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  width: 100%;
}

.progress-value {
  animation: load 10s normal forwards;
  border-radius: 1rem;
  background-color: rgb(43, 194, 83);
  height: 2rem;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.progress-90 {
  justify-content: flex-start;
  border-radius: 1rem;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  width: 100%;
}

.progress-value-90 {
  animation: load90 10s normal forwards;
  border-radius: 1rem;
  background-color: rgb(43, 194, 83);
  height: 2rem;
  width: 0;
}

@keyframes load90 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

.progress-80 {
  justify-content: flex-start;
  border-radius: 1rem;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  width: 100%;
}

.progress-value-80 {
  animation: load80 10s normal forwards;
  border-radius: 1rem;
  background-color: rgb(43, 194, 83);
  height: 2rem;
  width: 0;
}

@keyframes load80 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.progress-70 {
  justify-content: flex-start;
  border-radius: 1rem;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  width: 100%;
}

.progress-value-70 {
  animation: load70 10s normal forwards;
  border-radius: 1rem;
  background-color: rgb(43, 194, 83);
  height: 2rem;
  width: 0;
}

@keyframes load70 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

.progress-50 {
  justify-content: flex-start;
  border-radius: 1rem;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  width: 100%;
}

.progress-value-50 {
  animation: load50 10s normal forwards;
  border-radius: 1rem;
  background-color: rgb(43, 194, 83);
  height: 2rem;
  width: 0;
}

@keyframes load50 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.progress-20 {
  justify-content: flex-start;
  border-radius: 1rem;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  width: 100%;
}

.progress-value-20 {
  animation: load20 10s normal forwards;
  border-radius: 1rem;
  background-color: rgb(43, 194, 83);
  height: 2rem;
  width: 0;
}

@keyframes load20 {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

.scroll-button {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  background-color: #04d361;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  text-align: center;
  font-size: 2.4rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-button:hover {
  background-color: #ffffff;
  color: #04d361;
}
.logo-icon {
  color: #ffffff;
  font-size: 5rem;
}
.logo-icon:hover {
  color: #04d361;
  font-size: 5rem;
}

.logo-icon-name {
  color: #ffffff;
  font-size: 5rem;
  display: flex;
  justify-content: end;
  margin: 5rem 6rem -7rem;
}

.list-menu {
  margin-left: auto;
}

.list-menu ul {
  list-style: none;
  padding: 0;
}

.list-menu ul li {
  display: inline-block;
  margin: 2rem;
}

.menu-button {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  border-radius: 5rem;
  background-color: transparent;
  padding: 1rem 1rem 1rem 1rem;
  color: #fff;
  border-bottom: 0.25rem solid #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  color: #04d361;
  border-bottom: 0.25rem solid #04d361;
}
.menu-button.active{
  color: #04d361;
  border-top: 0.25rem solid #04d361;
  border-bottom: none;
}

.menu-icon-1 {
  font-size: 3rem;
  margin: 1.2rem;
  }

.menu-icon-2{
  font-size: 3rem;
  margin: 1.2rem;
}
.menu-icon-3{
  font-size: 3rem;
  margin: 1.2rem;
}
.menu-icon-4{
  font-size: 3rem;
  margin: 1.2rem;
}

