$skin-color1:#04D361;
$bg-black-900: #ffffff;
$bg-black-100: #353535;
$bg-black-50: #2b2c2f;
$bg-opacity: rgba(43,44,47,0.5);
$bg-black-50-dark: #282829;
$text-black-900: #ffffff;
$text-black-700: #ffffff;
$text-black-600: #bbbbbb;
$text-black-300: #bbbbbb;
$outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
$outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
$inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
$inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;



//thema claro
// $skin-color1:#2eb1ed;
// $bg-black-900: #000000;
// $bg-black-100: #dddddd;
// $bg-black-50: #eff0f4;
// $bg-opacity: rgba(255,255,255,0.5);
// $bg-black-50-dark: #282829;
// $text-black-900: #000000;
// $text-black-700: #555555;
// $text-black-600: #666666;
// $text-black-300: #bbbbbb;
// $outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
// $outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
// $inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
// $inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
