.fa-plus:before {
   content: "\f067"; }
 
.fa-plus-circle:before {
   content: "\f055"; }
 
.fa-plus-square:before {
   content: "\f0fe"; }

.fa-minus:before {
   content: "\f068"; }
    
.fa-minus-circle:before {
   content: "\f056"; }
    
.fa-minus-square:before {
   content: "\f146"; 
}  
