@media(max-width: 767px) {
   .contact-section .w-50,
   .contact-section .contact-item,
   .portfolio-popup .pp-details .pp-details-inner .description,
   .portfolio-popup .pp-details .pp-details-inner .info,
   .portfolio-section .portfolio-item,
   .about-section .skills .skill-item,
   .about-section .about-info,
   .about-section .about-img,
   .home-section .home-text,
   .home-section .home-img .copy{
      flex: 0 0 100%;
      max-width: 100%;
   }
   .home-section .home-text {
      order: 2;
   }

   .about-section .about-info .btn-1 {
      margin: 1rem 1rem 0 0;
      font-size: 1.4rem
   }
   .contact-section .contact-form .submit-btn, 
   .home-section .home-text .copy {
      text-align: center;
   }
   .home-section .full-screen {
      padding: 10rem 0;
   }
   .home-section .home-img .img-box {
      margin-bottom: 4rem;
      max-width: 35rem;
   }
   .home-section .effect-3 {
      margin-left: -6rem;
   }
   .home-section .effect-4 {
      left: 15%;
   }
   .home-section .effect-5 {
      right: 4%;
   }
   .about-section .about-img {
      padding-bottom: 3rem;
   }
   .about-section .services .timeline .timeline-item:nth-child(odd) {
      padding-right: 1.5rem;
      text-align: left;
      padding-left: 7.5rem;
   }
   .about-section .services .timeline .timeline-item:nth-child(even) {
      padding-left: 7.5rem;
   }

   .about-section .services .timeline::before {
      left: 3.5rem;
   }

   .about-section .services .timeline .timeline-item:nth-child(odd) .icon {
      right: auto;
      left: -6rem;
   }
   .about-section .services .timeline .timeline-item:nth-child(even) .icon {
      left: -6rem;
   }

   .about-section .services .timeline .timeline-item {
      margin-bottom: 4rem;
      &:last-child {
         margin-bottom: 0;
      }
   }
   .about-section .services .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
      left: -3rem;
      right: auto;
   }
   .about-section .container-skill .skills-container .skill-content {
      flex-direction: column;
   }

   .portfolio-popup .pp-details {
      width: calc(85% + 3rem);
   }

   .portfolio-popup .pp-main {
      width: 85%;
   }
}

@media(max-width: 574px) {
   .home-section .home-img .img-box .copy{
      width: 25rem;
   }
   .home-section .home-text h2 {
      font-size: 4rem;
   }
}