.about {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 10rem 6% 2rem;
}

.about_content {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 12px 4px 40px;
  backdrop-filter: blur(20px);
  box-shadow: var(--main_color) 0 0 1rem;
  margin-bottom: 8rem;
  padding: 1rem 2rem;
  width: min(95rem, 100%);
}

.about_content h2 {
  font-size: 3rem;
  line-height: 1.2;
  text-align: left;
}

.about_content p {
  line-height: 1.3;
  margin-bottom: 1rem;
}

.textContainer {
  position: relative;
}

.aboutText {
  transition: all 0.3s ease;
}

.rainText {
  line-height: 1.7;
}

.rainWord {
  display: inline-block;
  will-change: transform, opacity, filter;
}

/* <========== breakpoints ==========> */

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 8rem 4% 4rem; 
  }

  .about_content {
    width: 100%;
    margin-bottom: 2rem; 
  }

  .about_content h2 {
    font-size: 2.5rem;
  }

  .about_content p {
    font-size: 1.5rem;
  }

  .aboutText {
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 6rem 2% 2rem; 
  }

  .about_content h2 {
    font-size: 2rem;
  }

  .about_content p {
    font-size: 1.4rem;
  }
}