.about {
  align-items: center;
  display: flex;
  gap: 15rem;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 10rem 6% 2rem;
}

.container_img img {
  margin-bottom: 3rem;
  width: 27vw;
}

.about_content {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: var(--main_color) 0 0 1rem;
  margin-bottom: 8rem;
  padding: 1rem 2rem;
  width: 85%;
}

.about_content h2 {
  font-size: 3rem;
  line-height: 1.2;
  text-align: left;
}

.about_content p {
  line-height: 1.3;
  margin-bottom: 1rem;
}

/* <========== breakpoints ==========> */

@media (max-width: 2560px) {
  .about_content h2 {
    font-size: 3.7rem;
  }

  .about_content p {
    font-size: 2.5rem;
  }

  .container_img img {
    width: 17vw;
  }
}

@media (max-width: 1550px) {
  .about_content h2 {
    font-size: 3rem;
  }

  .about_content p {
    font-size: 1.5rem;
  }

  .container_img img {
    width: 20vw;
  }
}

@media (max-width: 1450px) {
  .about_content h2 {
    font-size: 2.7rem;
  }

  .about_content p {
    font-size: 1.5rem;
  }

  .container_img img {
    margin-bottom: 3rem;
    width: 22vw;
  }
}

@media (max-width: 1024px) {
  .about_content{
    width: 40vw;
  }
  .about_content h2 {
    font-size: 2.2rem;
  }

  .about_content p {
    font-size: 1.4rem;
  }

  .container_img img {
    width: 20vw;
  }

}

@media (max-width: 991px) {
  .container_img img {
    width: 35vw;
  }

  .about_content {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .about {
    gap: 6rem;
  }

  .about_content {
    width: auto;
  }

  .container_img img {
    width: 30vw;
  }

  .about_content h2 {
    font-size: 2.5rem;
  }

  .about_content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .about {
    flex-direction: column-reverse;
    gap: 0;
  }

  .about_content {
    margin-bottom: 3rem;
    margin-top: -5rem;
    width: 90vw;
    height: 47vh;
    overflow-y: auto;
  }

  .about_content h2 {
    font-size: 2.7rem;
  }

  .about_content p {
    font-size: 1.9rem;
  }

  .container_img {
    height: auto;
  }

  .container_img img {
    display: block;
    width: 40vw;
  }
}

@media (max-width: 440px) {
  .about {
    max-height: 100vh;
    padding: 7rem 3% 2rem;
  }

  .about_content {
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 90vw;
    height: 47vh;
    overflow-y: auto;
  }

  .container_img {
    height: auto;
  }

  .container_img img {
    display: block;
    width: 75vw;
  }
}

@media (max-width: 428px) {
  .about {
    max-height: 100vh;
    padding: 7rem 3% 2rem;
  }

  .about_content {
    margin-bottom: 3rem;
    margin-top: 9rem;
    width: 91.7vw;
    height: 37vh;
    overflow-y: auto;
  }

  .container_img {
    height: 48vh;
  }

  .container_img img {
    display: block;
    width: 72vw;
  }
}

@media (max-width: 375px) {
  .about {
    flex-direction: column-reverse;
    gap: 0;
  }

  .about_content {
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 90vw;
    height: 50vh;
    overflow-y: auto;
  }

  .about_content h2 {
    font-size: 2.7rem;
  }

  .about_content p {
    font-size: 1.9rem;
  }

  .container_img {
    height: auto;
  }

  .container_img img {
    display: block;
    width: 48vw;
  }
}

@media (max-width: 360px) {
  .about {
    flex-direction: column-reverse;
    gap: 0;
  }

  .about_content {
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 90vw;
    height: 50vh;
    overflow-y: auto;
  }

  .about_content h2 {
    font-size: 2.7rem;
  }

  .about_content p {
    font-size: 1.9rem;
  }

  .container_img {
    height: auto;
  }

  .container_img img {
    display: block;
    width: 48vw;
  }
}
