#about {
  width: 100%;
  height: 100vh;

  
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14rem 8rem 8rem;
    height: 100%;

    .about-content {
      display: flex;
      justify-content: center;
      align-items: center;

      .about-img {
        width: 27%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;

        & img{
        
          width: 20rem;
          border-radius: 50%;
    
          box-shadow: 
            0 0 0 18px $background-color-dark,
            0 0 0 24px $color-theme,
            0 0 0 20px hsla(0, 40%, 70%, 0),
            0 0 0 25px hsla(0, 50%, 80%, 0),
            0 0 0 30px hsla(0, 61%, 90%, 0);
        }
      }

      .about-text {
        flex-direction: column;
        width: 60%;
        padding-left: 4rem;
        
        color: $color-secundary;

        h1 {
          display: inline-block;
          font-size: 4.2rem;
          line-height: 6rem;
          color: $color-primary;
          border-bottom: 3px solid $color-theme;
          margin-bottom: 3rem;
        }

        p {
          margin-bottom: 3.5rem;
          font-size: 1.6rem;
          line-height: 2.5rem;
        }
      }

      .about-link {
        display: flex;
        width: 12.5%;
        
  
        color: $color-primary;
  
        & a {
          padding: 2rem;

          i {
            font-size: 4rem;
            transition: 0.5s;

            &:hover {
              color: $color-theme;
              transform: scale(1.8);
              transition: 0.5s;
            }
          }
        }

        .links {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        & span {
          border: 2px solid $color-theme ;
        }
      }
    }
  }
}

