$background-color-dark: #181818;
$background-color-light: #202020;
$background-color-light2: #313131;

$color-primary: #fff;
$color-secundary: rgb(219, 219, 219);

$color-theme: #04D361;
$color-theme-light: #0efd7a;
$color-theme-dark: #067538;
