#contact {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14rem 8rem 14rem;
  // background-color: $color-theme;

  .contact-content {   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
      p{
        color: $color-primary;
      }
      .contact-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 37rem;
        height: 32rem;
        
        background-color: $background-color-dark;
        border-radius: 10px;
        .contact-box-content{
          
          margin: 2rem;
          span {
            padding: 1rem;
            display: flex;
            align-items: center;
            color: $color-secundary;
            i {
              background-color: $color-theme-dark;
              border-radius: 50%;
              padding: 1rem;
              font-size: 4rem;
              color: $color-theme;
              transition: .5s;
              &:hover {
               
                cursor: pointer;
                color: $color-primary;
                transform: scale(1.2);
                transition: .5s;
                
              }
            }
            p {
              padding-left: 1rem;
            }
          }
        }
      }
  }
}