footer {
  position: absolute;
  bottom: 0;
  width: 85%;
  height: 4rem;
  display: flex;
  justify-content: center;
  // background-color: $background-color-dark;
  border-bottom: 3px solid $color-theme;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  color: #a7a7a7;
  font-size: 1.5rem;
}

.social-list a {
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.5rem;
  transition: .4s;
  padding: 1rem;
  
  &:hover {
    color: $color-theme;
    transition: .4s;
  }
  
}

.social-list ul {
  display: flex;
}

#link-topo {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 4rem;
  height: 4rem;
  background: $color-theme;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: .5rem;
  transition: background-color .4s;
  transition: transform .5s;
}
#link-topo:hover {
  background-color: #058840;
    cursor:pointer;
    transform:scale(1.05);
}