/*-------Mobile--------*/
@media (max-width: 1025px) {
   html {
      overflow: auto;
   }

  #menu {
     display: block;
     position: absolute;
     text-align: center;

     width: 100%;
     height: 0;
     top: 7rem;
     right: 0px;
     background: $background-color-light;

     z-index: 1000;
     transition: 0.6s;
     visibility: hidden;
     overflow-y: hidden;
  }

  #nav.active #menu {
     height: calc(100vh - 7rem);
     visibility: visible;
     overflow: auto;
  }

  #menu a {
     font-size: 2rem;
     padding: 3rem 0;
     margin: 0 1.5rem;
     border-bottom: 0.2rem solid $background-color-light;
  }

  #btn-mobile {
     display: block;
     padding: 1rem 1.5rem;
     font-size: 1.5rem;
     border: none;
     background: none;
     cursor: pointer;
  }

  #hamburguer {
     display: block;
     border-top: 0.2rem solid;
     width: 2rem;
     color: $color-theme;
  }

  #hamburguer::after,
  #hamburguer::before {
     content: "";
     display: block;
     width: 2rem;
     height: 0.2rem;
     background: currentColor;
     margin-top: 0.5rem;

     transition: 0.3s;
     position: relative;
  }

  #nav.active #hamburguer {
     border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
     transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
     transform: rotate(-135deg);
     top: -0.7rem;
  } 

  #home .img-wrapper {
      display: none;
   }

   #home .home-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50vh;

   .arrow-home {
      display: none;
   }
   
}

.text {
   text-align: center;
   font-size: 2rem;
}

   .home-content {
      display: block;
      align-items: center;
      justify-content: center;
   }
 
 #about {
    height: 70vh;
 }  

 #about .about-container {
   padding: 2rem 8rem 2rem;
   }

 #about .about-container .about-content .about-text {
      width: 100%;
      padding-left: 2rem;

      .arrow {
         display: none;
      }

    h1 {
         font-size: 3rem;
      }

    p {
         font-size:1.3rem ;
      }
   }

 #about .about-container .about-content {
   display: inline-block;

      .about-link .links i {
         font-size: 2rem;
      }
   }
 
   #about .about-container .about-content .about-img img {
   display: none;
   }

   #about .about-container .about-content .about-link .links {
   flex-direction: row;
   }
   #services {
   padding: 2rem 8rem 2rem;
   height: 180vh;
   }
   #services  .services-cards {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         .arrow {
            display: none;
         }
   }

   #skill {
      .arrow {
         display: none;
      }
   }

   #projects {
      padding: 6rem 4rem 2rem;
      .arrow {
         display: none;
      }
   }
}

@media (max-width: 768px) {
   #home {
      .home-content {
         font-size: 2.5rem;

         .button {
            line-height: 4rem;
            .botao-likedin {
               width: 17rem;
               font-size: 2rem;
            }
         }
      }
   }

   #services {
      height: 170vh;
   }

   #skill {
      .skill-content {
         flex-direction: column;
      }
      height: 235vh;
   }    
   
   #link-topo {
      // display: none;
      right: .7rem;
   }

   footer .footer-content p{
      font-size: 1rem ;
   }
}

@media (max-width: 600px) {
    
 #about .about-container {
      padding: 2rem 3rem 2rem;
   
   }

   #about .about-container .about-content .about-text {
      padding-left: 2rem;
  
      h1 {
         font-size: 2.2rem;
         
      }

      span {
         margin-bottom: 2rem;
      }
  
      p {
         font-size:1.1rem ;
      }
   }
  
   #projects .projects-content .carousel .carousel-item {
            width: 20rem;
            height: 23rem;
 
   }

}

@media (max-width: 460px) {
   #home .home-content {
      line-height: 6rem;
      #text {
         .text-2 {
            font-size: 6rem;
         }

         .text-3 {
            font-size: 2.4rem;
            line-height: 3.5rem;
         }
      }
   }
   
   #about {
      height: 70vh;
   }

   #about .about-container {
      padding: 2rem 0.5rem 2rem;
   }

   #about .about-container .about-content .about-text {
      padding-left: 2rem;
  
      h1 {
         font-size: 2.7rem;
      }
  
      p {
         font-size:1.4rem ;
      }
   }

   #skill #skills-container .skill-content .conhecimento {
      width: 80%;
   }
   #skill #skills-container .skill-content .conhecimento i {
      font-size: 4rem;
   }

   #projects .projects-content .carousel .carousel-item {
      width: 20rem;
      height: 23rem;

      h3 {
         font-size: 1.5rem;
      }

      p {
         font-size: 1rem;
      }

      span {
         font-size: 1.5rem;

         i {
           padding: .5rem;
         }
      }
      .pj-site {
         font-size: 1rem;
         margin-bottom: .5rem;
          
       }

   }

   #contact {
      .contact-content {
         .contact-box {
            width: 30rem;
            height: 30rem;
            .contact-box-content {
               span {
                  i {
                    font-size: 3rem;
                  }
              }
            }
         }
      }
   }

   footer {
      .footer-content p {
         display: none;
      }
   }
}




