#skill {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14rem 8rem 8rem;

  #skills-container {
    .skill-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      &:nth-child(2) {
        margin-top: 1.5rem;
      }
      .conhecimento {
        text-align: center;
        width: 100%;
        max-width: 23rem;
        height: 19rem;
        // margin: 2rem;
        border-radius: 10px 10px 0px 0px;
        
        padding: 1.5rem;
        
        background-color: $background-color-dark;
        border-bottom: 3px solid $color-primary;
        color: $color-theme;
        transition: .4s ease;
        position: relative;

          i {
            font-size: 5rem;
            margin-bottom: 1rem;
            transition: .5s ;
          }

          h3 {
            font-size: 2.2rem;
            color: $color-primary;
            margin-bottom: 1rem;
          }

          p {
            color: $color-secundary;
          }

          &::after {
            content: '';
            display: block;
        
            position: absolute;
            top: 100%;
            left: 0;
        
            width: 0%;
            height: 3px;
        
            transition: .6s ease;
        
            background-color: $color-theme;
            
          }

          &:hover {
            cursor: pointer;
            
              i {
                color: $color-theme-light;
                transition: .5s ease;
              }

              &::after {
                width: 100%;
     
              }
          } 
      }
   }
  }
}

