

h1, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  
  
}

h1, h3 {
font-family: 'Baloo 2', sans-serif;
font-weight: 700;
}


/*botao de descer e subir a tela*/
.arrow {
  display: flex;
  justify-content: center;
  
  
  i {
    color: $color-theme;
    transition: 0.5s;
    font-size: 4rem;
    
  
    &:hover {
      color: $color-theme-dark;
      transform: scale(1.5); 
      transition: 0.5s;
  
    }
  }
}

/*todos os links*/
.link {
  padding: 8px 24px;
  font-size: 24px;
  transition: .5s ease;

  position: relative;

  &::after {
    content: '';
    display: block;

    position: absolute;
    top: 100%;
    left: 0;

    width: 0%;
    height: 3px;

    // transform: translate(20%, -50%);
    transition: .5s ease;

    background-color: $color-theme;
  }

  &:hover {
    opacity: .7;

    &::after {
      width: 100%;
     
    }
  }
}

/*Titulos*/
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 4.2rem;
    line-height: 6rem;
    color: $color-primary;
    border-bottom: 3px solid $color-theme;
    margin-bottom: 4rem;
  }

}