.lng_btn {
  background: transparent;
  color: var(--text_color);
  display: inline-flex;
  font-weight: 700;
  font-size: 4rem;
  transition: 0.5s ease;
  z-index: 1;
  cursor: pointer;
  padding: 1.2rem 0.2rem;
}

.lng_box .lng_btn::before {
  background: var(--bg_color);
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: -1;
}

.lng_box .lng_btn:hover::before {
  width: 100%;
}

.lng_box .lng_btn:hover {
  box-shadow: none;
}

.sidebar {
  border: 2px solid var(--main_color);
  background-color: var(--bg_color);
  height: auto;
  position: absolute;
  text-align: center;
  transition: height 0.5s ease;
  width: 33rem;
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  margin-left: -18.7rem;
  margin-top: 1.2rem;
}

.sidebar .flags {
  font-size: 4rem;
}

.sidebar .flags_navbar {
  font-size: 6rem;
}

.sidebar .flags_name {
  display: flex;
  justify-content: space-between;
}

.flags_name span {
  margin-top: 1rem;
}

.sidebar button {
  background-color: var(--bg_color);
  color: var(--main_color);
  padding: 0.5rem 0rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 37rem;
    height: auto;
    margin-top: 2.1rem;
    margin-left: -25.9rem;
  }
}

@media screen and (max-width: 428px){
  .sidebar {
    width: 37rem;
    height: auto;
    margin-top: 2.3rem;
    margin-left: -26.3rem;
  }
}

@media screen and (max-width: 375px){
  .sidebar {
    width: 37rem;
    height: auto;
    margin-top: 2.1rem;
    margin-left: -25.9rem;
  }
}



