.home {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 95vh;
  padding: 10rem 6% 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.home_content {
  height: 30rem;
}

@keyframes animate {
  from {
    filter: blur(33px);
    opacity: 0;
    transform: translate(0, 120px);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: translate(0);
  }
}

.home_content .transparent_text {
  margin: 2rem -1rem 3rem;
}

.home_content .text_reveal {
  display: grid;
}

.social_media {
  display: flex;
}

.social_media a {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  font-size: 1.6rem;
  height: 3.5rem;
  justify-content: center;
  margin: 1rem 1.5rem 3rem 0;
  position: relative;
  transition: 0.8s ease;
  width: 3.5rem;
}

.social_media .icon {
  color: #fff;
  font-size: 18px;
}

.social_media .whatsapp {
  background: #25d366;
  border: none;
}

.social_media .email {
  background: #f65151;
  border: none;
}

.social_media .linkedin {
  background: #2867b2;
  border: none;
}

.social_media .github {
  background: #181717;
  border: none;
}

@keyframes button_contact {
  from {
    opacity: 0;
    filter: blur(33px);
    transform: translate(0, 100px);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: translate(0);
  }
}

.btn_box {
  animation: button_contact 0.8s ease-in-out 1.2s 1 forwards;
  position: relative;
  opacity: 0;
}

.btn_box .btn {
  background: var(--main_color);
  border-radius: 0.6rem;
  box-shadow: 0 0 1rem var(--main_color);
  border: 0.2rem solid var(--main_color);
  color: var(--bg_color);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  position: relative;
  padding: 1.2rem 3.2rem;
  overflow: hidden;
  outline: none;
  transition: 0.5s ease;
  z-index: 1;
}

.btn_box .btn::before {
  background: var(--bg_color);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: -1;
}

.btn_box .btn:hover::before {
  width: 100%;
}

.btn_box .btn:hover {
  box-shadow: none;
  color: var(--main_color);
}

.home_img {
  position: fixed;
  right: 25rem;
}

.home_img img {
  width: 26.5vw;
  border: 1px solid var(--main_color);
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--main_color);
  font-size: 2.5rem;
}

.footer span {
  font-weight: 600;
  margin-left: 0.5rem;
}

/* <========== breakpoints ==========> */

@media screen and (max-width: 2560px) {
  .home_img {
    bottom: 20rem;
    right: 60rem;
  }

  .home_img img {
    width: 19vw;
  }

  .home_content {
    height: 50rem;
  }

  .footer {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1920px) {
  .home_img {
    bottom: 20rem;
    right: 30rem;
  }

  .home_img img {
    width: 26vw;
  }

  .home_content {
    height: 25rem;
  }

  .footer {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1550px) {
  .home_img {
    bottom: 2rem;
    right: 10rem;
  }

  .home_img img {
    width: 33vw;
  }

  .home_content {
    height: 25rem;
  }

  .footer {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1450px) {
  .home_img {
    bottom: 5rem;
    right: 10rem;
  }

  .home_img img {
    width: 32vw;
  }

  .home_content {
    height: 60vh;
  }

  .footer {
    font-size: 1.9rem;
    margin-top: -1rem;
  }
}

@media screen and (max-width: 1024px) {
  .home_img {
    bottom: 8rem;
    right: 8rem;
  }

  .home_img img {
    width: 40vw;
  }

  .home_content {
    height: 50vh;
  }

  .footer {
    font-size: 1.8rem;
    margin-top: -1rem;
  }
}

@media screen and (max-width: 991px) {
  .home_img {
    bottom: 15rem;
    right: 15rem;
  }

  .home_img img {
    width: 60vw;
  }

  .home_content {
    height: 80rem;
  }

  .footer {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .home_img img {
    width: 33vw;
  }

  .home_img {
    bottom: 25rem;
    right: 10rem;
    z-index: -1;
  }

  .home_content {
    height: 50vh;
  }

  .text_reveal {
    font-size: 4rem;
  }

  .footer {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 470px) {
  .home_img img {
    width: 60vw;
  }

  .home_img {
    bottom: 18rem;
    right: 11.3rem;
  }

  .home_content {
    height: 75vh;
  }
}

@media screen and (max-width: 428px) {
  .home_img img {
    width: 60vw;
  }

  .home_content {
    height: 75vh;
  }

  .home_img {
    bottom: 6rem;
    right: 10rem;
  }

  .text_reveal {
    font-size: 4rem;
  }

  .transparent_text {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 415px) {
  .home_img {
    bottom: 15rem;
    right: 10rem;
  }

  .home_img img {
    width: 62vw;
    position: relative;
    z-index: 2;
  }

  .home_content {
    height: 75vh;
  }

  .text_reveal {
    font-size: 3.5rem;
  }

  .transparent_text {
    font-size: 2.2rem;
    margin-left: -1rem;
  }
}

@media screen and (max-width: 400px) {
  .home_img {
    bottom: 10rem;
    right: 8.5rem;
  }

  .home_img img {
    width: 66vw;
    position: relative;
    z-index: 2;
  }

  .home_content {
    height: 75vh;
  }

  .text_reveal {
    font-size: 3.5rem;
  }

  .transparent_text {
    font-size: 2.2rem;
    margin-left: -1rem;
  }
}

@media screen and (max-width: 375px) {
  .home_content {
    height: 75vh;
  }

  .home_img {
    bottom: 5.5rem;
    right: 7.5rem;
  }

  .home_img img {
    width: 68vw;
  }

  .text_reveal {
    font-size: 3.5rem;
  }

  .transparent_text {
    font-size: 2.2rem;
    margin-left: -1rem;
  }
}

@media screen and (max-width: 360px) {
  .home_content {
    height: 75vh;
  }

  .home_img {
    bottom: 8.5rem;
    right: 6.5rem;
  }

  .home_img img {
    width: 71vw;
  }

  .text_reveal {
    font-size: 3.5rem;
  }

  .transparent_text {
    font-size: 2.2rem;
    margin-left: -1rem;
  }
}
