.home {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 95vh;
  padding: 10rem 6% 2rem;
}

.home_content {
  height: 30rem;
}

@keyframes animate {
  from {
    filter: blur(33px);
    opacity: 0;
    transform: translate(0, 120px);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: translate(0);
  }
}

.home_content .first_h3 {
  animation: animate 0.8s ease-in-out 1 forwards;
  font: 700 3rem "Montserrat", sans-serif;
  opacity: 0;
  position: relative;
}

.home_content .transparent_text {
  margin: 0 3rem -2rem;
  font: 700 2.9rem "Orbitron", sans-serif;
}

.home_content .transparent_text::after {
  content: "";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  white-space: nowrap;
}

.home_content .text_reveal {
  display: grid;
}

.home_content .text_reveal::after,
.home_content .text_reveal > span {
  grid-area: 1/1;
}

.home_content .text_reveal > span {
  padding: 0.5rem 1rem;
  opacity: 0;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
  -webkit-mask-size: 100% 100%, 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  mask-composite: exclude;
  mask-size: 100% 100%, 100%;
}

.home_content .text_reveal > span:nth-child(1) {
  -webkit-text-stroke: 1px var(--main_color);
  color: transparent;
  font: 700 4.6rem "Orbitron", sans-serif;
  -webkit-mask-image: linear-gradient(#000 0 0);
  mask-image: linear-gradient(#000 0 0);
  animation: text_reveal-1 2s ease-in-out 1s forwards;
}

.home_content .text_reveal > span:nth-child(2) {
  -webkit-text-stroke: 1px var(--text_color);
  color: var(--text_color);
  font: 700 4.6rem "Orbitron", sans-serif;
  -webkit-mask-image: linear-gradient(#000 0 0);
  mask-image: linear-gradient(#000 0 0);
  animation: text_reveal-2 2s ease-in-out 1s forwards;
}

.home_content .text_reveal::after {
  content: "";
  z-index: 2;
  border: 0.125rem solid var(--main_color);
  border-block: none;
  width: 100%;
  justify-self: center;
  opacity: 0;
  animation: text_reveal-lines 2s ease-in-out 1s forwards;
  z-index: 0;
}

@keyframes text_reveal-lines {
  5%,
  95% {
    opacity: 1;
  }
  50% {
    width: 0;
  }
}

@keyframes text_reveal-1 {
  0%,
  100% {
    -webkit-mask-size: 100% 100%, 100%;
    mask-size: 100% 100%, 100%;
    opacity: 1;
  }
  50% {
    -webkit-mask-size: 0% 100%, 100%;
    mask-size: 100% 100%, 100%;
  }
}

@keyframes text_reveal-2 {
  0%,
  50% {
    -webkit-mask-size: 0% 100%;
    mask-size: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    opacity: 1;
  }
}

.social_media {
  display: flex;
}

.social_media a {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  font-size: 1.6rem;
  height: 3.5rem;
  justify-content: center;
  margin: 1rem 1.5rem 3rem 0;
  position: relative;
  transition: 0.8s ease;
  width: 3.5rem;
}

.social_media .whatsapp {
  color: #fff;
  background: #25d366;
  border: none;
}

.social_media .email {
  color: #fff;
  background: #ee0a0a;
  border: none;
}

.social_media .linkedin {
  color: #fff;
  background: #2867b2;
  border: none;
}

.social_media .github {
  color: #fff;
  background: #181717;
  border: none;
}

.btn_box {
  animation: animate 0.8s ease-in-out 0.9s 1 forwards;
  opacity: 0;
  position: relative;
}

.btn_box .btn {
  border-radius: 0.6rem;
  background: var(--main_color);
  border: 0.2rem solid var(--main_color);
  box-shadow: 0 0 1rem var(--main_color);
  color: var(--bg_color);
  display: inline-block;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  overflow: hidden;
  position: relative;
  padding: 1.2rem 3.2rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn_box .btn::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.5s;
  width: 0;
  box-shadow: none;
}

.btn_box .btn:hover::before {
  width: 100%;
}

.btn_box .btn:hover {
  box-shadow: none;
  color: var(--main_color);
  background: var(--bg_color);
}

.home_img {
  position: fixed;
  right: 25rem;
}

.home_img img {
  object-fit: none;
  width: 26.5vw;
  border: 2px solid var(--main_color);
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--main_color);
  background-color: var(--bg_color);
  font-size: 2.5rem;
  text-align: center;
}

.modal_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33vw;
  max-height: 90vh;
  color: var(--main_color);
  border: 2px solid var(--main_color);
  background-color: var(--bg_color);
  z-index: 1;
}

.modal_title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--main_color);
}

.modal_title .down_button {
  font-size: 2.9rem;
  cursor: pointer;
  margin-left: 35rem;
}

.modal_title .close_button {
  font-size: 3rem;
  cursor: pointer;
  margin-right: 1rem;
}

.modal_content {
  width: 32.6vw;
  max-height: 90vh;
  overflow-y: auto;
  background-color: var(--bg_color);
  margin-left: 0rem;
  margin-top: -2rem;
}

.modal_content img {
  width: 31.9vw;
  height: auto;
  margin-bottom: 1rem;
  margin-left: 0rem;
  display: flex;
  flex-direction: column;
}

.modal_footer {
  display: flex;
  justify-content: flex-end;
}

/* <========== breakpoints ==========> */

@media (max-width: 2560px){
  .home_img {
    bottom: 20rem;
    right: 60rem;
  }

  .home_img img {
    width: 19vw;
  }

  .home_content {
    height: 50rem;
  }

  .modal_container {
    width: 40.9vw;
    height: 75.5vh;
    z-index: 2;
  }

  .modal_content {
    width: 40.7vw;
    height: 71vh;
  }

  .modal_content img {
    width: 40vw;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 92rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .footer {
    font-size: 2rem;
  }

}

@media (max-width: 1550px) {
  .home_img {
    bottom: 2rem;
    right: 10rem;
  }

  .home_img img {
    width: 33vw;
  }

  .home_content {
    height: 25rem;
  }

  .modal_container {
    width: 48vw;
    z-index: 2;
  }

  .modal_content {
    width: 48vw;
    height: 65vh;
  }

  .modal_content img {
    width: 48vw;
  }

 
  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 42rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .footer {
    font-size: 1.7rem;
  }
}

@media (max-width: 1450px) {
  .home_img {
    bottom: 2.5rem;
    right: 8rem;
  }

  .home_img img {
    width: 34vw;
  }

  .home_content {
    height: 60vh;
  }

  .modal_container {
    width: 60vw;
    z-index: 2;
  }

  .modal_content {
    width: 60vw;
    height: 65vh;
  }

  .modal_content img {
    width: 59vw;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 58rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .footer {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .home_img {
    bottom: 3rem;
    right: 3rem;
  }

  .home_img img {
    width: 43vw;
  }

  .home_content {
    height: 40vh;
  }

  .modal_container {
    width: 70vw;
    z-index: 2;
  }

  .modal_content {
    width: 69vw;
    height: 60vh;
  }

  .modal_content img {
    width: 67vw;
  }

  .modal_title {
    padding-left: 18rem;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 45rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .footer {
    font-size: 1.3rem;
  }
}

@media (max-width: 991px) {
  .home_img {
    bottom: -14rem;
    right: 4rem;
  }

  .home_img img {
    width: 50vw;
  }

  .home_content {
    height: 50rem;
  }

  .modal_container {
    width: 70vw;
    z-index: 2;
  }

  .modal_content {
    width: 69vw;
  }

  .modal_content img {
    width: 66vw;
  }

  .modal_title {
    padding-left: 18rem;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 15rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .footer {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .home_img img {
    width: 50vw;

  }

  .home_img {
    bottom: 2rem;
    right: 1rem;
    z-index: -1;
  }

  .home_content {
    height: 60vh;
  }


  .text_reveal > span:nth-child(1) {
    font-size: 4rem;
  }

  .text_reveal > span:nth-child(2) {
    font-size: 4rem;
  }

  .modal_container {
    width: 70vw;
    z-index: 2;
  }

  .modal_content {
    width: 69vw;
  }

  .modal_content img {
    width: 66vw;
  }
  .modal_title {
    padding-left: 42rem !important;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 15rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .footer {
    font-size: 1rem;
    margin-top: 2rem;
  }
}

@media (max-width: 470px) {
  .modal_container {
    width: 70vw;
    z-index: 2;
  }

  .modal_content {
    width: 69vw;
  }

  .modal_content img {
    width: 66vw;
  }
  .modal_title {
    padding-left: 15rem;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 12rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .home_img img {
    width: 60vw;
  }

  .home_img {
    bottom: 7rem;
    right: 11.3rem;
  }

  .home_content {
    height: 75vh;
  }
}

@media (max-width: 428px) {
  .modal_container {
    width: 70vw;
    z-index: 2;
  }

  .modal_content {
    width: 69vw;
  }

  .modal_content img {
    width: 66vw;
  }
  .modal_title {
    padding-left: 14rem !important;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 10rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .home_img img {
    width: 60vw;
  }

  .home_content {
    height: 75vh;
  }

  .home_img {
    bottom: 4rem;
    right: 10rem;
  }


  .text_reveal span {
    font-size: 4rem !important;
  }

  .transparent_text {
    font-size: 2.9rem !important;
    margin: 0 !important;
  }
}

@media (max-width: 415px){
  .home_img {
    bottom: 5rem;
    right: 10rem;
  }

  .home_img img {
    width: 62vw;
    position: relative;
    z-index: 2;
  }

  .home_content {
    height: 75vh;
  }

  .modal_title {
    padding-left: 16rem !important;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 9rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .text_reveal span {
    font-size: 3.5rem !important;
  }

  .transparent_text {
    font-size: 2.2rem !important;
    margin-left: -1rem !important;
  }
}

@media (max-width: 400px) {
  .home_img {
    bottom: 5rem;
    right: 8.5rem;
  }

  .home_img img {
    width: 66vw;
    position: relative;
    z-index: 2;
  }

  .home_content {
    height: 75vh;
  }

  .modal_title {
    padding-left: 16rem !important;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 9rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .text_reveal span {
    font-size: 3.5rem !important;
  }

  .transparent_text {
    font-size: 2.2rem !important;
    margin-left: -1rem !important;
  }
}

@media (max-width: 375px) {
  .home_content {
    height: 75vh;
  }

  .home_img {
    bottom: 2.5rem;
    right: 7.5rem;
  }

  .home_img img {
    width: 68vw;
    border: 1px solid var(--main_color);
  }

  .modal_title {
    padding-left: 14rem !important;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 9rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .text_reveal span {
    font-size: 3.5rem !important;
  }

  .transparent_text {
    font-size: 2.2rem !important;
    margin-left: -1rem !important;
  }
}

@media (max-width: 360px) {
  .home_content {
    height: 75vh;
  }

  .home_img {
    bottom: 3.5rem;
    right: 6.5rem;
  }

  .home_img img {
    width: 71vw;
    border: 1px solid var(--main_color)
  }

  .modal_title {
    padding-left: 13rem !important;
  }

  .modal_title .down_button {
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 7.6rem;
  }

  .modal_title .close_button {
    font-size: 3rem;
    cursor: pointer;
  }

  .text_reveal span {
    font-size: 3.5rem !important;
  }

  .transparent_text {
    font-size: 2.2rem !important;
    margin-left: -1rem !important;
  }
}
