.card_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  margin-top: 8rem;
 
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1a1a1a;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 400px; 
  height: 400px; 
}

.card:hover {
  transform: scale(1.05);
}

.card_image_container {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 1rem 1rem 0 0;
  transition: filter 0.3s ease;
}

.card_content {
  width: 100%;
  padding: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--main_color);
}

.card_description {
  font-size: 1.3rem;
  line-height: 1.4;
  flex-grow: 1;
}

.download_button {
  background-color: var(--main_color);
  border: 1px solid var(--main_color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  width: fit-content;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--main_color);
  border: 1px solid var(--main_color);
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
  background-color: var(--main_color);
  color: #fff;
}

.pagination li.activePage a {
  background-color: var(--main_color);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .card {
    width: 80%;
    height: 50%;
  }

  .card_image_container {
    height: 50%;
  }

  .card_content {
    padding: 0.5rem;
  }

  .card_title {
    font-size: 1rem;
  }

  .card_description {
    font-size: 0.8rem;
  }

  .download_button {
    padding: 0.8rem 2rem ;
    margin-top: -1rem;
    font-size: 0.8rem;
  }

  .pagination {
    margin-top: -15px;
  }

  .pagination li a {
    width: auto;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
  }
}
