.experiences {
    max-width: 2600px;
    max-height: 100vh;
    margin: 0 auto;
    padding: 0 4rem;
    width: 100%;
    overflow-y: auto;
  }
  
  .experiences .heading {
    animation: animate 0.8s ease-in-out 1 forwards;
    font-size: 4rem;
    margin: 12rem 0 4rem;
    opacity: 0;
    text-align: center;
  }

  @keyframes animate {
    from {
      filter: blur(33px);
      opacity: 0;
      transform: translate(0, 100px);
    }
  
    to {
      filter: blur(0);
      opacity: 1;
      transform: translate(0);
    }
  }

  .vertical_timeline_title{
    font-size: 1.4rem;
    text-align: center;
  } 
 .vertical_timeline_subtitle{
  font-size: 1.3rem;
  text-align: center;
 } 

 .vertical_timeline_description{
  font-size: 1.125rem !important;
  text-align: center;
 }

 @media screen and (max-width: 2560px){
  .experiences .heading{
    font-size: 3.7rem;
  }
 }


@media screen and (max-width: 1550px){
  .experiences .heading{
    font-size: 3.3rem;
  }
}


@media screen and (max-width: 1450px){
  .experiences .heading{
    font-size: 3.2rem;
  }
}


@media screen and (max-width: 1024px){
  .experiences .heading{
    font-size: 3.1rem;
  }
}

@media screen and (max-width: 991px){
  .experiences .heading{
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .experiences .heading{
    font-size: 2.7rem;
  }

 }