@import 'sass/colors';
@import 'sass/typography';


@import 'sass/home';
@import 'sass/about';
@import 'sass/services';
@import 'sass/skills';
@import 'sass/footer';
@import 'sass/projects';
@import 'sass/contact';


@import 'sass/mobile';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  outline: none;

  a { color: inherit; } 
}

html {
  height:100%;
  font-size: 62.5%;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 6px;
    background: #efeef6;
}

::-webkit-scrollbar-thumb {
    background: $color-theme;
}
}

body {
  width: 100%;
  position:relative; 
  background-color: $background-color-light;
  
  overflow: scroll;
}

body,
button,
input {
  font-size: clamp(14px, 1.6rem, 2vw);
  
}