@charset "UTF-8";
h1, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}

h1, h3 {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
}

/*botao de descer e subir a tela*/
.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow i {
  color: #04D361;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 4rem;
}

.arrow i:hover {
  color: #067538;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*todos os links*/
.link {
  padding: 8px 24px;
  font-size: 24px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: relative;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 3px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #04D361;
}

.link:hover {
  opacity: .7;
}

.link:hover::after {
  width: 100%;
}

/*Titulos*/
.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titulo h1 {
  font-size: 4.2rem;
  line-height: 6rem;
  color: #fff;
  border-bottom: 3px solid #04D361;
  margin-bottom: 4rem;
}

/*---------------------------------navbar----------------------------*/
#header {
  position: fixed;
  z-index: 900;
  width: 100%;
  height: 7rem;
  padding: 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #202020;
}

#header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1rem;
}

#header #logo span {
  color: #04D361;
}

#header .link {
  color: #04D361;
  font-size: 2rem;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  gap: 1rem;
}

#menu a {
  display: block;
  padding: 1rem;
}

/*------------------------------HOME--------------------------------*/
#home {
  padding-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#home .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  height: 100%;
  padding: 2rem;
}

#home .img-wrapper img {
  width: 100%;
}

#home .home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  height: 100%;
  font-size: 3.5rem;
  line-height: 6rem;
}

#text {
  width: 80%;
}

#text .text-1,
#text .text-2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#text .text-2 {
  font-size: 7rem;
  margin-top: 0;
  margin-bottom: 0;
}

#text .text-3 {
  color: #04D361;
  font-family: "Roboto", sans-serif;
  margin-top: .4rem;
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
}

#text .arrow-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#text .arrow-home i {
  color: #04D361;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 4rem;
}

#text .arrow-home i:hover {
  color: #067538;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* efeito maquina de escrever no h3 */
#text h3::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  white-space: nowrap;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*botão*/
.botao-likedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 19rem;
  background: #04D361;
  color: #fff;
  padding: .1rem;
  font-size: 2.3rem;
  font-weight: 700;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  border: 3px solid #04D361;
}

.botao-likedin:hover {
  cursor: pointer;
  background-color: transparent;
  color: #04D361;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

/*----Hamburguer----*/
#btn-mobile {
  display: none;
}

#about {
  width: 100%;
  height: 100vh;
}

#about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14rem 8rem 8rem;
  height: 100%;
}

#about .about-container .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-container .about-content .about-img {
  width: 27%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2rem;
}

#about .about-container .about-content .about-img img {
  width: 20rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 18px #181818, 0 0 0 24px #04D361, 0 0 0 20px rgba(209, 148, 148, 0), 0 0 0 25px rgba(230, 179, 179, 0), 0 0 0 30px rgba(245, 214, 214, 0);
          box-shadow: 0 0 0 18px #181818, 0 0 0 24px #04D361, 0 0 0 20px rgba(209, 148, 148, 0), 0 0 0 25px rgba(230, 179, 179, 0), 0 0 0 30px rgba(245, 214, 214, 0);
}

#about .about-container .about-content .about-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  padding-left: 4rem;
  color: #dbdbdb;
}

#about .about-container .about-content .about-text h1 {
  display: inline-block;
  font-size: 4.2rem;
  line-height: 6rem;
  color: #fff;
  border-bottom: 3px solid #04D361;
  margin-bottom: 3rem;
}

#about .about-container .about-content .about-text p {
  margin-bottom: 3.5rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

#about .about-container .about-content .about-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.5%;
  color: #fff;
}

#about .about-container .about-content .about-link a {
  padding: 2rem;
}

#about .about-container .about-content .about-link a i {
  font-size: 4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#about .about-container .about-content .about-link a i:hover {
  color: #04D361;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#about .about-container .about-content .about-link .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .about-container .about-content .about-link span {
  border: 2px solid #04D361;
}

#services {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14rem 8rem 8rem;
}

#services .services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .services-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25rem;
  background-color: #202020;
  border: 2px solid #04D361;
  margin: 2rem;
  padding: 3rem;
  border-radius: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#services .services-cards .card i {
  font-size: 6rem;
  color: #04D361;
  margin-bottom: 1rem;
}

#services .services-cards .card h3 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
}

#services .services-cards .card p {
  text-align: center;
  line-height: 2rem;
  color: #dbdbdb;
}

#services .services-cards .card:hover {
  cursor: pointer;
  background-color: #04D361;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#services .services-cards .card:hover i {
  color: #fff;
}

#skill {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14rem 8rem 8rem;
}

#skill #skills-container .skill-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

#skill #skills-container .skill-content:nth-child(2) {
  margin-top: 1.5rem;
}

#skill #skills-container .skill-content .conhecimento {
  text-align: center;
  width: 100%;
  max-width: 23rem;
  height: 19rem;
  border-radius: 10px 10px 0px 0px;
  padding: 1.5rem;
  background-color: #181818;
  border-bottom: 3px solid #fff;
  color: #04D361;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  position: relative;
}

#skill #skills-container .skill-content .conhecimento i {
  font-size: 5rem;
  margin-bottom: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

#skill #skills-container .skill-content .conhecimento h3 {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 1rem;
}

#skill #skills-container .skill-content .conhecimento p {
  color: #dbdbdb;
}

#skill #skills-container .skill-content .conhecimento::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 3px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  background-color: #04D361;
}

#skill #skills-container .skill-content .conhecimento:hover {
  cursor: pointer;
}

#skill #skills-container .skill-content .conhecimento:hover i {
  color: #0efd7a;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#skill #skills-container .skill-content .conhecimento:hover::after {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 85%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #04D361;
}

.footer-content {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content p {
  color: #a7a7a7;
  font-size: 1.5rem;
}

.social-list a {
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.5rem;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 1rem;
}

.social-list a:hover {
  color: #04D361;
  -webkit-transition: .4s;
  transition: .4s;
}

.social-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#link-topo {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 4rem;
  height: 4rem;
  background: #04D361;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: .5rem;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#link-topo:hover {
  background-color: #058840;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#projects {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14rem 8rem 8rem;
}

#projects .projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .projects-content .carousel {
  width: 100rem;
  height: 35rem;
}

#projects .projects-content .carousel .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27rem;
  height: 29rem;
  border-radius: 10px 10px 0 0;
  background-color: #181818;
  border-bottom: 3px solid #04D361;
}

#projects .projects-content .carousel .carousel-item img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50%;
}

#projects .projects-content .carousel .carousel-item h3 {
  text-align: center;
  margin: .5rem 0;
  font-size: 2rem;
  color: #04D361;
}

#projects .projects-content .carousel .carousel-item p {
  text-align: center;
  color: #fff;
}

#projects .projects-content .carousel .carousel-item span {
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dbdbdb;
}

#projects .projects-content .carousel .carousel-item span i {
  padding: 1rem;
}

#projects .projects-content .carousel .carousel-item .pj-site {
  display: inline-block;
  font-size: 1.5rem;
  border-bottom: 2px solid #04D361;
  margin-bottom: 1rem;
}

#projects .projects-content .carousel .carousel-item .pj-icon i {
  font-size: 6rem;
  color: #04D361;
}

#projects .projects-content .carousel .carousel-item:hover i {
  color: #04D361;
}

#projects .projects-content .carousel .carousel-item:hover .pj-icon i {
  color: #fff;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  padding: 14rem 8rem 14rem;
}

#contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

#contact .contact-content p {
  color: #fff;
}

#contact .contact-content .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37rem;
  height: 32rem;
  background-color: #181818;
  border-radius: 10px;
}

#contact .contact-content .contact-box .contact-box-content {
  margin: 2rem;
}

#contact .contact-content .contact-box .contact-box-content span {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dbdbdb;
}

#contact .contact-content .contact-box .contact-box-content span i {
  background-color: #067538;
  border-radius: 50%;
  padding: 1rem;
  font-size: 4rem;
  color: #04D361;
  -webkit-transition: .5s;
  transition: .5s;
}

#contact .contact-content .contact-box .contact-box-content span i:hover {
  cursor: pointer;
  color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s;
  transition: .5s;
}

#contact .contact-content .contact-box .contact-box-content span p {
  padding-left: 1rem;
}

/*-------Mobile--------*/
@media (max-width: 1025px) {
  html {
    overflow: auto;
  }
  #menu {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0;
    top: 7rem;
    right: 0px;
    background: #202020;
    z-index: 1000;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 7rem);
    visibility: visible;
    overflow: auto;
  }
  #menu a {
    font-size: 2rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-bottom: 0.2rem solid #202020;
  }
  #btn-mobile {
    display: flex;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburguer {
    display: block;
    border-top: 0.2rem solid;
    width: 2rem;
    color: #04D361;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 2rem;
    height: 0.2rem;
    background: currentColor;
    margin-top: 0.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -0.7rem;
  }
  #home .img-wrapper {
    display:inline;
  }
  #home .home-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50vh;
  }
  #home .home-content .arrow-home {
    display: none;
  }
  .text {
    text-align: center;
    font-size: 2rem;
  }
  .home-content {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about {
    height: 70vh;
  }
  #about .about-container {
    padding: 2rem 8rem 2rem;
  }
  #about .about-container .about-content .about-text {
    width: 100%;
    padding-left: 2rem;
  }
  #about .about-container .about-content .about-text .arrow {
    display: none;
  }
  #about .about-container .about-content .about-text h1 {
    font-size: 3rem;
  }
  #about .about-container .about-content .about-text p {
    font-size: 1.3rem;
  }
  #about .about-container .about-content {
    display: inline-block;
  }
  #about .about-container .about-content .about-link .links i {
    font-size: 2rem;
  }
  #about .about-container .about-content .about-img img {
    display:inline;
    width: 90px;
    height: 90px; 
    
  }
  #about .about-container .about-content .about-link .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #services {
    padding: 2rem 8rem 2rem;
    height: 180vh;
  }
  #services .services-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #services .services-cards .arrow {
    display: none;
  }
  #skill .arrow {
    display: none;
  }
  #projects {
    padding: 6rem 4rem 2rem;
  }
  #projects .arrow {
    display: none;
  }
}

@media (max-width: 768px) {
  #home .home-content {
    font-size: 2.5rem;
  }
  #home .home-content .button {
    line-height: 4rem;
  }
  #home .home-content .button .botao-likedin {
    width: 17rem;
    font-size: 2rem;
  }
  #services {
    height: 170vh;
  }
  #skill {
    height: 235vh;
  }
  #skill .skill-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #link-topo {
    right: .7rem;
  }
  footer .footer-content p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #about .about-container {
    padding: 2rem 3rem 2rem;
  }
  #about .about-container .about-content .about-text {
    padding-left: 2rem;
  }
  #about .about-container .about-content .about-text h1 {
    font-size: 2.2rem;
  }
  #about .about-container .about-content .about-text span {
    margin-bottom: 2rem;
  }
  #about .about-container .about-content .about-text p {
    font-size: 1.1rem;
  }
  #projects .projects-content .carousel .carousel-item {
    width: 20rem;
    height: 23rem;
  }
}

@media (max-width: 460px) {
  #home .home-content {
    line-height: 6rem;
  }
  #home .home-content #text .text-2 {
    font-size: 6rem;
  }
  #home .home-content #text .text-3 {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
  #about {
    height: 70vh;
  }
  #about .about-container {
    padding: 2rem 0.5rem 2rem;
  }
  #about .about-container .about-content .about-text {
    padding-left: 2rem;
  }
  #about .about-container .about-content .about-text h1 {
    font-size: 2.7rem;
  }
  #about .about-container .about-content .about-text p {
    font-size: 1.4rem;
  }
  #skill #skills-container .skill-content .conhecimento {
    width: 80%;
  }
  #skill #skills-container .skill-content .conhecimento i {
    font-size: 4rem;
  }
  #projects .projects-content .carousel .carousel-item {
    width: 20rem;
    height: 23rem;
  }
  #projects .projects-content .carousel .carousel-item h3 {
    font-size: 1.5rem;
  }
  #projects .projects-content .carousel .carousel-item p {
    font-size: 1rem;
  }
  #projects .projects-content .carousel .carousel-item span {
    font-size: 1.5rem;
  }
  #projects .projects-content .carousel .carousel-item span i {
    padding: .5rem;
  }
  #projects .projects-content .carousel .carousel-item .pj-site {
    font-size: 1rem;
    margin-bottom: .5rem;
  }
  #contact .contact-content .contact-box {
    width: 30rem;
    height: 30rem;
  }
  #contact .contact-content .contact-box .contact-box-content span i {
    font-size: 3rem;
  }
  footer .footer-content p {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  outline: none;
}

* a {
  color: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  width: 6px;
  background: #efeef6;
}

html ::-webkit-scrollbar-thumb {
  background: #04D361;
}

body {
  width: 100%;
  position: relative;
  background-color: #202020;
  overflow:scroll;
}

body,
button,
input {
  font-size: clamp(14px, 1.6rem, 2vw);
}
/*# sourceMappingURL=global.css.map */
