.slide_in {
  background: var(--second_bg_color);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transform-origin: right;
  width: 100%;
  z-index: 2;
}

.slide_out {
  background: var(--second_bg_color);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transform-origin: left;
  width: 100%;
}









