.container{
  margin-top: 5rem;   
}

@media (max-width: 767px){
    .container{
        margin-top: 22rem;
    }
}

@media screen and (max-width: 650px){
    .container{
        margin-top: 22rem;
    }
}

@media screen and (max-width: 470px){
    .container{
        margin-top: 22rem;
    }
}

@media screen and (max-width: 428px){
    .container{
        margin-top: 15rem;
    }
}

@media screen and (max-width: 415px){
    .container{
        margin-top: 22rem;
    }
}

@media screen and (max-width: 400px){
    .container{
        margin-top: 22rem;
    }
}

@media screen and (max-width: 375px){
    .container{
      margin-top: 10rem;
    }
}

@media screen and (max-width: 360px){
    .container{
        margin-top: 22rem;
    }
}