
.skills {
  max-width: 1400px;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0 4rem;
  width: 100vw;
  overflow-x: hidden; 
  overflow-y: auto;
}

.skills .heading {
  animation: animate 0.8s ease-in-out 1 forwards;
  font-size: 3rem;
  margin: 10rem 0 3rem;
  opacity: 0;
  text-align: center;
}

@keyframes animate {
  from {
    filter: blur(33px);
    opacity: 0;
    transform: translate(0, 100px);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: translate(0);
  }
}

.icons_container {
  display: flex;
  justify-content: center;
  gap: 2rem; 
  flex-wrap: wrap;
}

.box_icon {
  margin: 0 4rem 7rem;
}

.box_icon{
  position: relative; 
}

.box_icon:hover .icon_description {
  display: block;
  top: -25%;
  transform: translate(-50%, 0%);
}

.icon_description {
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  left: 50px;
  position: absolute;
  text-transform: uppercase;
}

.icons_container .icon_hover {
  border-radius: 25%;
  border: 0.1rem solid var(--main_color);
  display: inline-flex;
  color: var(--main_color);
  height: 10rem;
  margin: 1rem 0 0.8rem;
  padding: 0.4rem;
  transition: 0.3s ease;
  width: 10rem;
  flex-basis: 4.5rem;
}

.icons_container .icon_hover:hover {
  box-shadow: 0 0 1rem var(--main_color);
  background-color: var(--main_color);
  border: none;
  color: var(--bg_color);
}

.filters{
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

.filters select{
  width: 11vw;
  height: 4vh;
  color: var(--main_color);
  border: 1px solid var(--main_color);
  background-color: var(--bg_color);
  padding-left: 1rem;
}

.filters option{
  color: var(--main_color);
  padding-left: 1rem;
}

.filters input{
  color: var(--main_color);
  border-bottom: 1px solid var(--main_color);
  background-color: var(--bg_color);
  padding-left: 3rem;
  margin-left: 79rem;
  width: 7vw;
}

.filters input[type="text"]::placeholder {
  color: var(--main_color);
  padding: 0rem;
}

.filters .icon_search{
  color: var(--main_color);
  display: flex;
}

.filters .icon_search svg{
  font-size: 2rem;
  margin-left: -18rem;
  margin-top: 0.7rem;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 2.7rem;
}

.pagination li a{
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  color: var(--main_color);
  border: 1px solid var(--main_color);
  display: flex;
  justify-content: center;
  width: 3vw;
  height: 3vh;
  border-radius: 20px;
}


.pagination li.activePage{
  color: var(--main_color);
  border: 1px solid var(--main_color);
  background-color: var(--bg_color);
  border-radius: 20px;
}

.styles.searchIcon{
  color: var(--main_color);
}

@media (max-width: 991px) {
  .icon_hover {
    height: 3.8rem;
    width: 3.8rem;
  }

  .skills h2 {
    font-size: 2rem;
    margin: 8rem 0 2rem;
  }
}

@media (max-width: 768px) {
  .icons_container {
    bottom: 0.8rem;
  }

  .skills h2 {
    font-size: 1.6rem;
    margin: 6rem 0 1.5rem;
  }
  .icons_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
  }

  .icon_hover {
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
  }

  .icon_description {
    left: 40px; 
    text-align: center; 
  }

  .filters {
    flex-direction: column;
    padding: 2rem 1rem; 
    display: flex;
    align-items: center;
  }
  
  .filters select {
    width: 40vw;
    height: 4vh;
    margin-bottom: 2rem;
    margin-left: -2rem;
  }

  .filters input{
    width: 20vw;
    height: 5vh;
    margin-left: -1rem;
  }

  .filters .icon_search svg{
    display: block;
    margin-left: -8rem;
    margin-top: -3.7rem;
  }

  .pagination li a {
    width: auto; 
    padding: 0.5rem 1rem; 
    text-align: center; 
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .pagination li.activePage{
    border-radius: 0;
  }

}

@media (max-width: 650px) {
  .skills {
    padding: 0 1rem; 
  }

  .skills h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .icons_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
  }

  .icon_hover {
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
  }

  .box_icon {
    margin: 0 3rem 4rem;
  }

  .icon_description {
    left: 40px; 
    text-align: center; 
  }

  .filters {
    flex-direction: column;
    padding: 2rem 1rem; 
    display: flex;
    align-items: center;
  }
  
  .filters select {
    width: 40vw;
    height: 4vh;
    margin-bottom: 2rem;
    margin-left: -2rem;
  }

  .filters input{
    width: 20vw;
    height: 5vh;
    margin-left: -1rem;
  }

  .filters .icon_search svg{
    display: block;
    margin-left: -8rem;
    margin-top: -3.7rem;
  }

  
  .pagination li a {
    width: auto; 
    padding: 0.5rem 1rem; 
    text-align: center; 
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .pagination li.activePage{
    border-radius: 0;
  }
}

@media (max-width: 500px) {
  .pagination button {
    font-size: 0.8rem;
  }
}

@media (max-width: 470px) {
  .icons_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-left: 3rem;
    margin-top: 3rem;
  }

  .icon_hover {
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
  }

  .box_icon {
    margin: 0 1rem 4rem;
  }

  .icon_description {
    left: 40px; 
    text-align: center; 
  }

  .filters {
    flex-direction: column;
    padding: 2rem 1rem; 
    display: flex;
    align-items: center;
  }
  
  .filters select {
    width: 49vw;
    height: 4vh;
    margin-bottom: 2rem;
    margin-left: -4rem;
  }

  .filters input{
    width: 25vw;
    height: 4.1vh;
    margin-left: -5rem;
  }

  .filters .icon_search svg{
    display: block;
    margin-left: -9rem;
    margin-top: -3.3rem;
  }

  
  .pagination li a {
    width: auto; 
    padding: 0.9rem 1rem; 
    text-align: center; 
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .pagination li.activePage{
    border-radius: 0;
  }
}  

@media (max-width: 428px) {
  .icons_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-left: 0rem;
    margin-top: 3rem;
  }

  .icon_hover {
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
  }

  .box_icon {
    margin: 0 3rem 4rem;
  }


  .icon_description {
    left: 40px; 
    text-align: center; 
  }

  .filters {
    flex-direction: column;
    padding: 2rem 1rem; 
    display: flex;
    align-items: center;
  }
  
  .filters select {
    width: 49vw;
    height: 4vh;
    margin-bottom: 2rem;
   
  }

  .filters input{
    width: 25vw;
    height: 4.1vh;
  }

  .filters .icon_search svg{
    display: block;
    margin-left: -9rem;
    margin-top: -3.5rem;
  }

  
  .pagination li a {
    width: auto; 
    padding: 0.8rem 1rem; 
    text-align: center; 
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .pagination li.activePage{
    border-radius: 0;
  }
}

@media (max-width: 400px) {
  .icons_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
  }

  .icon_hover {
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
  }

  .box_icon {
    margin: 0 2rem 3rem;
  }

  .icon_description {
    left: 40px; 
    text-align: center; 
  }

  .filters {
    flex-direction: column;
    padding: 2rem 1rem; 
    display: flex;
    align-items: center;
  }
  
  .filters select{
    width: 52vw;
    height: 4vh;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .filters input{
    width: 30vw;
    height: 4.1vh;
    margin-left: 2rem;
  }


  .filters .icon_search svg{
    display: block;
    margin-left: -6.5rem;
    margin-top: -3.3rem;
  }

  
  .pagination li a {
    width: auto; 
    padding: 0.8rem 1rem; 
    text-align: center;
    border-radius: 0; 
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }
  .pagination li.activePage{
    border-radius: 0;
  }
}

@media(max-width: 375px) {
  .icons_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-left: 2rem;
  }

  .icon_hover {
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
  }

  .box_icon {
    margin: 0 1rem 3rem;
  }

  .icon_description {
    left: 40px; 
    text-align: center; 
  }

  .filters {
    flex-direction: column;
    padding: 2rem 1rem; 
    display: flex;
    align-items: center;
  }
  
  .filters select{
    width: 65vw;
    height: 4vh;
    margin-bottom: 2rem;
    margin-left: -2rem;
  }

  .filters input{
    width: 30vw;
    height: 5vh;
    margin-left: -3rem;
    margin-bottom: 1.1rem;
  }

  .filters .icon_search svg{
    display: block;
    margin-left: -9rem;
    margin-top: -4.2rem;
  }

  .pagination li a {
    width: auto; 
    padding: 0.5rem 1rem; 
    text-align: center; 
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }
  .pagination li.activePage{
    border-radius: 0;
  }
}