.container_img_skills {
  height: 45rem;
}

.skills {
  max-width: 1400px;
  max-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4rem;
  width: 100%;
}

.skills .heading {
  animation: animate 0.8s ease-in-out 1 forwards;
  font-size: 3rem;
  margin: 10rem 0 3rem;
  opacity: 0;
  text-align: center;
}

@keyframes animate {
  from {
    filter: blur(33px);
    opacity: 0;
    transform: translate(0, 100px);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: translate(0);
  }
}

.icons_container {
  bottom: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.box_icon {
  position: relative;
}

.box_icon:hover .icon_descripition {
  display: block;
  top: -25%;
  transform: translate(-50%, 0%);
}

.icon_descripition {
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
}

.icons_container .react,
.redux,
.javascript,
.git,
.tailwind,
.css,
.html,
.github,
.typescript,
.firebase,
.mysql,
.figma,
.vue,
.angular,
.npm,
.yarn,
.bootstrap,
.shopify,
.wordpress,
.jquery,
.node,
.markdown,
.less,
.sass,
.photoshop,
.gitlab,
.materialdesign,
.java,
.postgres,
.pinia,
.vuetify,
.googlean,
.googlead,
.laravel,
.php,
.graphql,
.webpack,
.docker,
.vscode,
.swagger,
.springboot,
.firebase,
.csharp,
.python,
.jira,
.electron,
.jenkins,
.terraform,
.ansible,
.kubernetes {
  border-radius: 25%;
  border: 0.1rem solid var(--main_color);
  display: inline-flex;
  color: var(--main_color);
  height: 4.5rem;
  margin: 1rem 0 0.8rem;
  padding: 0.4rem;
  transition: 0.3s ease;
  width: 4.5rem;
  flex-basis: 4.5rem;
}

.icons_container .react:hover,
.redux:hover,
.typescript:hover,
.javascript:hover,
.mysql:hover,
.git:hover,
.tailwind:hover,
.css:hover,
.html:hover,
.firebase:hover,
.figma:hover,
.vue:hover,
.npm:hover,
.yarn:hover,
.bootstrap:hover,
.angular:hover,
.shopify:hover,
.wordpress:hover,
.jquery:hover,
.node:hover,
.markdown:hover,
.less:hover,
.sass:hover,
.photoshop:hover,
.gitlab:hover,
.materialdesign:hover,
.java:hover,
.postgres:hover,
.pinia:hover,
.vuetify:hover,
.googlean:hover,
.googlead:hover,
.laravel:hover,
.php:hover,
.graphql:hover,
.webpack:hover,
.docker:hover,
.vscode:hover,
.swagger:hover,
.springboot:hover,
.firebase:hover,
.csharp:hover,
.python:hover,
.jira:hover,
.electron:hover,
.jenkins:hover,
.terraform:hover,
.ansible:hover,
.kubernetes:hover {
  box-shadow: 0 0 1rem var(--main_color);
  background-color: var(--main_color);
  border: none;
  color: var(--bg_color);
}

@media (max-width: 991px) {
  .skills {
    width: auto;
  }

  .icons_container .react,
  .redux,
  .javascript,
  .git,
  .tailwind,
  .css,
  .html,
  .github,
  .typescript,
  .firebase,
  .mysql,
  .figma,
  .angular,
  .vue,
  .npm,
  .yarn,
  .bootstrap,
  .shopify,
  .wordpress,
  .jquery,
  .node,
  .markdown,
  .less,
  .sass,
  .photoshop,
  .gitlab,
  .materialdesign,
.java,
.postgres,
.pinia,
.vuetify,
.googlean,
.googlead,
.laravel,
.php,
.graphql,
.webpack,
.docker,
  .vscode,
  .swagger,
.springboot,
.firebase,
.csharp,
.python,
.jira,
.electron,
.jenkins,
.terraform,
.ansible,
.kubernetes {
    height: 3.8rem;
    width: 3.8rem;
  }

  .skills h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .icons_container {
    bottom: 0.8rem;
  }

  .skills h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 650px) {
  .skills {
    flex-direction: column;
    position: static;
    width: 100%;
  }

  .skills h3 {
    font-size: 2.7rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .icons_container {
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 0rem;
    width: auto;
  }

  .icons_container .react,
  .redux,
  .javascript,
  .git,
  .tailwind,
  .css,
  .html,
  .github,
  .typescript,
  .firebase,
  .mysql,
  .figma,
  .angular,
  .vue,
  .shopify,
  .wordpress,
  .jquery,
  .node,
  .markdown,
  .less,
  .sass,
  .photoshop,
  .gitlab,
  .vscode,
  .swagger,
.springboot,
.firebase,
.csharp,
.python,
.jira,
.electron,
.jenkins,
.terraform,
.ansible,
.kubernetes {
    height: 4rem;
    margin-bottom: 1.1rem;
    width: 4rem;
  }

  .icon_descripition{
    left: 35%;
  }
}
