.portfolio {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 4rem;
  width: 100%;
}

.portfolio .heading {
  animation: animate 0.8s ease-in-out 1 forwards;
  font-size: 3.7rem;
  margin: 12rem 0 5rem;
  opacity: 0;
  text-align: center;
}



.portfolio_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-bottom: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 2;
}

.cardContent {
  flex: 1 0 auto;
  font-size: 1.5rem;
  background-color: var(--card_bg);
  color: var(--card_color);
  letter-spacing: 0.1rem;
  padding-top: 1rem;
}

.cardActions {
  justify-content: center;
  background-color: var(--card_bg);
}

.cardActions .links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
}

.cardActions .links .link {
  background: var(--card_bg);
  border-radius: 0.5rem;
  border: none;
  border: 2px solid var(--card_color);
  cursor: pointer;
  color: var(--card_color);
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  overflow: hidden;
  padding: 8px 18px;
  position: relative;
  transition: 0.5s ease;
}


.cardActions .links .link:hover {
  width: 100%;
  color: var(--card_bg);
  background-color: var(--card_color);
}

@keyframes animate {
  from {
    filter: blur(33px);
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    filter: blur(0);
    opacity: 1;
    transform: translate(0);
  }
}

.tech_list {
  color: var(--card_bg);
  background-color: var(--card_color);
  border-radius: 0.5rem;
  display: inline flex;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.tech_title {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.pagination li a {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  color: var(--main_color);
  border: 1px solid var(--main_color);
  display: flex;
  justify-content: center;
  width: 3vw;
  height: 3vh;
}

.pagination li.activePage {
  color: var(--main_color);
  border: 1px solid var(--main_color);
  background-color: var(--bg_color);
}

@media screen and (min-width:1560px) and (max-width: 2560px)  {
  .portfolio .heading {
    font-size: 3.4rem;
  }
  .portfolio_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1550px) {
  .portfolio .heading {
    font-size: 3.2rem;
    margin: 10rem 0 3rem;
  }
  .portfolio_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .card {
    width: 80%;
    height: 100%;
    z-index: -1;
    margin-left: 7rem;
  }
  .pagination li a {
    width: auto;
    padding: 0.2rem 1rem;
    text-align: center;
    border-radius: 0;
  }

  .pagination li.activePage {
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: -1.5rem;
    align-items: center;
  }
}

@media screen and (max-width: 1450px) {
  .portfolio .heading {
    font-size: 3rem;
    margin: 10rem 0 3rem;
  }
  .portfolio_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .card {
    width: 80%;
    height: 100%;
    z-index: -1;
    margin-left: 7.2rem;
  }
  .pagination li a {
    width: auto;
    padding: 0.2rem 1rem;
    text-align: center;
    border-radius: 0;
  }

  .pagination li.activePage {
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: -1.9rem;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio .heading {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 991px) {
  .portfolio .heading {
    font-size: 2.6rem;
  }
  .portfolio_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .portfolio .heading {
    font-size: 2.5rem;
  }
  .portfolio_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    height: 100%;
    z-index: -1;
    margin-left: 9.2rem;
  }
  .pagination li a {
    width: auto;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0;
  }

  .pagination li.activePage {
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    align-items: center;
  }
}

@media screen and (max-width: 691px) {
  .portfolio .heading {
    font-size: 2.3rem;
  }
  .card {
    height: 80%;
    z-index: -1;
  }
  .pagination li a {
    width: auto;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0;
  }

  .pagination li.activePage {
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: -10rem;
    align-items: center;
  }
}

@media screen and (max-width: 470px) {
  .portfolio .heading {
    font-size: 2.2rem;
  }
  .card {
    height: 80%;
    z-index: -1;
  }
  .pagination li a {
    width: auto;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0;
  }

  .pagination li.activePage {
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: -10rem;
    align-items: center;
  }
}

@media screen and (max-width: 428px) {
  .portfolio .heading {
    font-size: 2rem;
    margin: 12rem 0 3rem;
  }
  .card {
    width: 100%;
    height: 80%;
    z-index: -1;
    margin-left: 0.2rem;
  }
  .pagination li a {
    width: auto;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0;
  }

  .pagination li.activePage {
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: -12rem;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .portfolio .heading {
    font-size: 1.2rem;
  }
  .card {
    height: 80%;
    z-index: -1;
  }
  .pagination li a {
    width: auto;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0;
  }

  .pagination li.activePage {
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: -10rem;
    align-items: center;
  }
}

@media screen and (max-width: 360px) {
  .portfolio .heading {
    font-size: 1rem;
  }
  .card {
    height: 80%;
    z-index: -1;
  }
  .pagination li a {
    width: auto;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0;
  }

  .pagination li.activePage {
    border-radius: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: -10rem;
    align-items: center;
  }
}
