.education {
  max-width: 1900px;
  max-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4rem;
  width: 100%;
}

.education .heading {
  animation: animate 0.8s ease-in-out 1 forwards;
  font-size: 3rem;
  margin: 12rem 0 3rem;
  opacity: 0;
  text-align: center;
}

@keyframes animate {
  from {
    filter: blur(33px);
    opacity: 0;
    transform: translate(0, 100px);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 2560px){
  .education .heading {
    font-size: 3.7rem;
  }
}


@media screen and (max-width: 1550px){
  .education .heading {
    font-size: 3.5rem;
  }
}


@media screen and (max-width: 1450px){
  .education .heading {
    font-size: 3.3rem;
  }
}


@media screen and ( max-width: 1024px){}


@media screen and (max-width: 767px){}


@media screen and (max-width: 470px){}


@media screen and (max-width: 428px){}


@media screen and (max-width: 375px){}



